<script>

  $(document).ready(function() {
    $('select').material_select();
  });


</script>
<main>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <% if @order.invitations_only? %>
          <h2> Envoi des Invitaitons </h2>
        <% else %>
          <h2>Paiement <%=ENV['PUBLISHABLE_KEY']%></h2>
        <% end %>
        <div class="divider"></div>
      </div>
      <div class="col s12 m12 l12">
        <% if @order.invitations_only? %>
          <h6>Envoi des invitations</h6>
          <%= form_for @order, url: {action: "invitationdelivery"}, method: "post" do |f|%>
            <div class="row">
              <div class ="input-field col s2">
                <%= f.select :title, options_for_select(['Monsieur','Madame','Mademoiselle']) %>
                <label>Civilité</label>
              </div>
              <div class ="input-field col s5">
                <%= f.text_field :first_name, :value => @order.invitation.first_name %>
                <%= f.label :prénom%>
              </div>
              <div class ="input-field col s5">
                <%= f.label :nom%>
                <%= f.text_field :last_name, :value => @order.invitation.last_name  %>
              </div>
            </div>
            <div class="row">
              <div class ="input-field col s12">
                <%= f.label :"Adresse"%>
                <%= f.text_field :road, :value => @order.invitation.road %>
              </div>
            </div>
            <div class="row">
              <div class ="input-field col s4">
                <%= f.label :"Code Postal"%>
                <%= f.text_field :postcode, :value => @order.invitation.postcode %>
              </div>
              <div class ="input-field col s4">
                <%= f.label :Localité%>
                <%= f.text_field :town, :value => @order.invitation.town %>
              </div>
              <div class ="input-field col s4">
                <%= f.label :Pays%>
                <%= f.text_field :country, :value => @order.invitation.country %>
              </div>
            </div>
            <div class="row">
              <div class ="input-field col s6">
                <%= f.label :"Adresse e-mail"%>
                <%= f.text_field :email, :value => @order.invitation.email %>
              </div>
              <div class ="input-field col s6">
                <%= f.label :Téléphone%>
                <%= f.text_field :telephone, :value => @order.invitation.telephone  %>
              </div>
            </div>
            </br>
            <div class="row right-align">
              <%= f.submit "Envoyer", :class => "btn", id: "order-form-submit"%>
            </div>
          <% end %>
        <% else %>
          <h6>Vos Coordonnées</h6>
          <%= form_for @order, url: {action: "charge"}, method: "post" do |f|%>
            <div class="row">
              <div class ="input-field col s2">
                <%= f.select :title, options_for_select(['Monsieur','Madame','Mademoiselle']) %>
                <label>Civilité</label>
              </div>
              <div class ="input-field col s5">
                <%= f.text_field :first_name %>
                <%= f.label :prénom%>
              </div>
              <div class ="input-field col s5">
                <%= f.label :nom%>
                <%= f.text_field :last_name %>
              </div>
            </div>
            <div class="row">
              <div class ="input-field col s12">
                <%= f.label :"Adresse"%>
                <%= f.text_field :road %>
              </div>
            </div>
            <div class="row">
              <div class ="input-field col s4">
                <%= f.label :"Code Postal"%>
                <%= f.text_field :postcode %>
              </div>
              <div class ="input-field col s4">
                <%= f.label :Localité%>
                <%= f.text_field :town %>
              </div>
              <div class ="input-field col s4">
                <%= f.label :Pays%>
                <%= f.text_field :country %>
              </div>
            </div>
            <div class="row">
              <div class ="input-field col s6">
                <%= f.label :"Adresse e-mail"%>
                <%= f.text_field :email %>
              </div>
              <div class ="input-field col s6">
                <%= f.label :Téléphone%>
                <%= f.text_field :telephone %>
              </div>
                <%= f.hidden_field :stripe_token %>
            </div>
            <%= f.submit "Payer par carte", :class => "btn", id: "order-form-submit", style: "display:none"%>
          <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="divider"></div>
        <h6>Votre Carte</h6>
      </div>
    </div>
      <div class="col s12 m12 l12">
        <script src="https://js.stripe.com/v3/"></script>

          <form action="/charge" method="post" id="payment-form">
            <div class="form-row">
              <label for="card-element">
                Numéro de carte
              </label>
              <div id="card-element">
                <!-- a Stripe Element will be inserted here. -->
              </div>

              <!-- Used to display form errors -->
              <div id="card-errors" role="alert"></div>
            </div>
          </br>
             <div class="row right-align">
            <button class="btn">Payer par carte</button>
            </div>
          </form>

    </div>
    <%end%>
  </div>
</main>






<script>

// Create a Stripe client
var key = "<%=Rails.configuration.stripe[:publishable_key]%>"
var stripe = Stripe(key);

// Create an instance of Elements
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    lineHeight: '24px',
    fontFamily: '"Lato",sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '1rem',
    margin: '0 0 20px 0',
    height: '3rem',
    '::placeholder': {
    color: '#475058'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server
      stripeTokenHandler(result.token);
    }
  });
});

function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  $('#order_stripe_token').val(token.id);
  $(".edit_order").trigger('submit.rails')
}

</script>

  </div>
</div>