<main>
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l12">
				<h4>Chers membre</h4>
				<div class="divider"></div>
				<% if @invitation.reservation_type == "Invitation membre"%>
					<h6>Merci pour votre soutien!</h6>
				<%end%>
				<%if @invitation.used==true %>
					<p>Vos billet ont été envoyés à <%=@order.invitation.email%></p> d
				<% else %>
					<p>Vous pouvez aller choisir vos places pour les concerts qui vous intéressent en passant par <%=link_to('billetterie', concerts_path)%> </p>
					<!--<p>Pour récupérer vos <%=@order.invitation.free_tickets%> billets invités, vous pouvez aller choisir vos places pour les concerts qui vous intéressent en passant par <%=link_to('billetterie', concerts_path)%> </p>
					<p>Les <%=@order.invitation.free_tickets%> premières places seront gratuites. Si vous le souhaitez, vous pouvez ensuite selectionner des places supplémentaires et payer pour ces places par carte. Vous pourrez aussi attribuer les places entre invitaitons, places payantes et places pour enfants dans votre <%=link_to('panier', reservations_basket_path)%></p>-->
				<%end%>
				<p>Si vous avez des questions ou des remarques, n'hésitez pas à contacter la billeterie envoyant un mail à <%=mail_to('billetterie@musicales-tannay.ch')%> ou en téléphonant au +41 79 584 55 94</p>
			</div>
		</div>
		</br>
        <div class="row right-align">
        	<%if @invitation.concert.present? %>
        		<%= link_to("continuer", reservations_basket_path, :class => "btn", id: "order-form-submit")%>
        	<%else %>
        		<%= link_to("continuer", concerts_path, :class => "btn", id: "order-form-submit")%>
        	<%end%>
        </div>
	</div>
</main>
