<div class="col s12 m12 l12">
	<div class="card">
		<div class="card-image">
			<% unless concert_card.image.medium.url.nil? %>
				<%= image_tag concert_card.image.medium.url%>
			<% end %>
		</div>
		<div class="card-content">
			<b><%=concert_card.name%></b>
			<p><%=(I18n.localize concert_card.date, format: :concert).capitalize%> <%=concert_card.location%></p>
	    </div>
	    <div class="card-action">
	        <%=link_to("Réserver", new_concert_reservation_path(concert_card), :style => "color:#00B1EB")%>
	    </div>
	</div>
</div>