<header style="padding-left:0px;background-color:#00B1EB">
	<div class="container">
		<nav style="line-height:90px;height:90px;background-color:#00B1EB">
			<div class="nav-wrapper">
						<a href="#" class="brand-logo left left-align"><img src="https://www.musicales-tannay.ch/templates/template_vmt/images/VariationsMusicalesTannay_FestivalMusiqueClassique_SuisseRomande.png" style="max-width90px;max-height:90px"></a>
					<div class="col s10 m10 l10">
						<a><h5 class="right-align" style="padding-right:40px;padding-top:21px;font-size:20px;height:90px"><strong><%=@reservation.seat.concert.name%></strong></br><span style="font-size:16px"><%=(I18n.localize @reservation.seat.concert.date, format: :concert).capitalize%> <%=@reservation.seat.concert.location.preposition%> <%=@reservation.seat.concert.location.name%></span></h5></a>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>
<main style="padding-left:0px;padding-top:20px;background-color:#FFFFFF">
	<div class="container">
		<div class="row">
			<div class="col s4 m4 l4 center-align">
				<img src=<%=@reservation.code_url%> style="max-width:200px;" id="QRImage"/>
				</br>
				<p style="font-size:10px" class="center-align">r-<%=@reservation.id%>-<%=@reservation.code%></p>
			</div>
			<div class="col s4 m4 l4 left-align">
				<h5><%=@reservation.reservation_type.name.humanize%></h5>
				<% unless @concert.unnumbered? %>
				<h1 style="border-top:1px solid #BBBBBB;border-bottom:1px solid #BBBBBB"><%=@reservation.seat.row%> <%=@reservation.seat.column%></h1><%end%>
				<% unless @reservation.order.title == nil && @reservation.order.first_name == nil && @reservation.order.last_name == nil && @reservation.order.email == nil %><p style="font-size:12px"><b>Envoyé à:</b></br><% end%>
				<%=@reservation.order.title%> <%=@reservation.order.first_name%> <%=@reservation.order.last_name%></br>
				<%=@reservation.order.email%></p>
			</div>
			<div class="col s4 m4 l4 left-align">
				<p style="font-size:12px;font-color:#00B1EB"><%=@reservation.seat.concert.footnote%></p>
				<p style="font-size:12px;font-color:#00B1EB"><p>Attention, le port du masque est obligatoire</p>
                <p>Le concert est prévu dans la cour du château. En cas de mauvais temps, il aura lieu dans une salle à proximité</p></p>
			</div>
		</div>
		<div class="row">
			<div class="col s4 m4 l4 left-align">
				<h6>Lieu du concert</h6>
				<div style="font-size:12px;font-color:#00B1EB">
					<%=raw(@reservation.seat.concert.location.address)%>
				</div>
			</div>
			<div class="col s4 m4 l4 left-align">
				<h6>Venir au concert</h6>
				<div style="font-size:12px;font-color:#00B1EB">
					<%=raw(@reservation.seat.concert.location.access)%>
				</div>
			</div>
			<div class="col s4 m4 l4 left-align">
				<h6>Contact</h6>
				<p style="font-size:12px;font-color:#00B1EB">Si vous avez des questions ou des remarques, n'hésitez pas à contacter <%=mail_to("billetterie@musicales-tannay.ch","la billetterie")%> ou en appellant le +41 79 584 55 94</p>
			</div>
		</div>
	</div>
</main>
<% unless @concert.unnumbered? %>
<footer class="page-footer" stlye="background-color:#f5f5f6">
	<div class="footer center-align" style="padding:10px">
		<p style="text-align: center;"><img src="https://www.musicales-tannay.ch/images/sponsors/Mazda_1.png" alt="Mazda 1" style="vertical-align: bottom; margin: 10px;"><img src="https://www.musicales-tannay.ch/images/sponsors/Mazda_2.png" alt="Mazda 2" style="vertical-align: bottom; margin: 10px;"><img src="https://www.musicales-tannay.ch/images/sponsors/Mazda_3.png" alt="Mazda 3" style="vertical-align: bottom; margin: 10px;"></p>
		<p>&nbsp;<img src="https://www.musicales-tannay.ch/images/sponsors/LoterieRomande.png" alt="LoterieRomande" style="vertical-align: middle; margin: 10px;"> <img src="https://www.musicales-tannay.ch/images/sponsors/Aeschbach.png" alt="Aeschbach" style="vertical-align: middle; margin: 10px;"> <img src="https://www.musicales-tannay.ch/images/sponsors/FondationGandurPourLaJeunesse.png" alt="FondationGandurPourLaJeunesse" style="margin: 10px; vertical-align: middle;"> <img src="https://www.musicales-tannay.ch/images/sponsors/LaCote2.png" alt="LaCote2" style="margin: 10px; vertical-align: middle;"><img src="https://www.musicales-tannay.ch/images/sponsors/Fondation_Juchum.png" alt="Fondation Juchum" style="margin: 10px; vertical-align: middle;"><img src="https://www.musicales-tannay.ch/images/sponsors/CommunesDeTerreSainte.png" alt="CommunesDeTerreSainte" style="margin: 10px; vertical-align: middle;"><img src="https://www.musicales-tannay.ch/images/sponsors/Regionyon.png" alt="Regionyon" style="margin: 10px; vertical-align: middle;"><img src="https://www.musicales-tannay.ch/images/sponsors/FondationEngelberts.png" alt="FondationEngelberts" style="margin: 10px; vertical-align: middle;"><img src="https://www.musicales-tannay.ch/images/sponsors/FondationOtto.png" alt="FondationOtto" style="margin: 10px; vertical-align: middle;"><img src="https://www.musicales-tannay.ch/images/sponsors/CantonVaud.png" alt="CantonVaud" width="30" height="90" style="margin: 10px; vertical-align: middle;"><img src="https://www.musicales-tannay.ch/images/sponsors/Bonmont.png" alt="Bonmont" width="90" height="57" style="margin: 10px; vertical-align: middle;"><img src="https://www.musicales-tannay.ch/images/sponsors/VisionsDuReel.png" alt="VisionsDuReel" width="85" height="82" style="margin: 10px; vertical-align: middle;"></p>
		<p style="color: #475058;font-size:13px">
			© VARIATIONS MUSICALES DE TANNAY&nbsp;&nbsp; / &nbsp; 
			<a href="www.musicales-tannay.ch/contact" target="_self" style="text-decoration: none; color: #475058;">CONTACT</a>&nbsp;&nbsp; / &nbsp; 
			<a href="www.musicales-tannay.ch/espace-presse" target="_self" style="text-decoration: none; color: #475058;">ESPACE PRESSE</a>
		</p>
		<p>
			<a href="https://www.facebook.com/musicalestannay/?fref=ts" target="_blank" rel="noopener noreferrer">
				<img src="https://www.musicales-tannay.ch/images/Facebook_VariationsMusicalesTannay.png" alt="Facebook VariationsMusicalesTannay" style="margin: 10px; vertical-align: middle;">
			</a>
			<a href="https://twitter.com/musicalestannay" target="_blank" rel="noopener noreferrer">
				<img src="https://www.musicales-tannay.ch/images/Twitter_VariationsMusicalesTannay.png" alt="Twitter VariationsMusicalesTannay" style="vertical-align: middle; margin: 10px;">
			</a>
			<a href="https://www.instagram.com/musicales_tannay/" target="_blank" rel="noopener noreferrer">
				<img src="https://www.musicales-tannay.ch/images/Instagram_VariationsMusicalesTannay.png" alt="Instagram VariationsMusicalesTannay" style="vertical-align: middle; margin: 10px;">
			</a>
		</p>
	</div>
</footer>
<%end%>