
<header>
  <div class="navbar-fixed">
    <ul id="programme" class="dropdown-content">
      <li><a href="https://www.musicales-tannay.ch/programme/programme-2019">PROGRAMME 2019</a></li>
      <li><a href="https://www.musicales-tannay.ch/programme/programme-2018">PROGRAMME 2018</a></li>
      <li><a href="https://www.musicales-tannay.ch/programme/programme-2017">PROGRAMME 2017</a></li>
      <li><a href="https://www.musicales-tannay.ch/programme/programme-2016">PROGRAMME 2016</a></li>
      <li><a href="https://www.musicales-tannay.ch/programme/programme-2015">PROGRAMME 2015</a></li>
      <li><a href="https://www.musicales-tannay.ch/programme/programme-2014">PROGRAMME 2014</a></li>
      <li><a href="https://www.musicales-tannay.ch/programme/programme-2013">PROGRAMME 2013</a></li>
      <li><a href="https://www.musicales-tannay.ch/programme/programme-2012">PROGRAMME 2012</a></li>
      <li><a href="https://www.musicales-tannay.ch/programme/programme-2011">PROGRAMME 2011</a></li>
    </ul>
    <ul id="association" class="dropdown-content">
      <li><a href="https://www.musicales-tannay.ch/l-association/partenaires-amis">PARTENAIRES & AMIS</a></li>
      <li><a href="https://www.musicales-tannay.ch/l-association/benevoles">BÉNÉVOLES</a></li>
      <li><a href="https://www.musicales-tannay.ch/l-association/comite-statuts">COMITÉ & STATUS</a></li>
    </ul>
      <nav class="nav-extended">
        <div class="container">
          <div class="nav-wrapper">
            <div style="height" class="hide-on-large-only" >
              <div href="#" class="brand-logo left" style="margin-left:19px"><%= image_tag("VariationsMusicalesTannay_FestivalMusiqueClassique_SuisseRomande.png", size: "75x75")%></div>
              <a class="right-align dropdown-trigger-small-menu right" id="hamburger" style="color:#96a0a7;font-size:40px;line-height:18px;padding:28px;font-weight:800;width:100%" data-target="small-med-menu" >
                ≡
              </a>
          </div>
          <div class="hide-on-med-and-down">
              <div href="#" class="brand-logo left" style="margin-left:26px"><%= image_tag("VariationsMusicalesTannay_FestivalMusiqueClassique_SuisseRomande.png", size: "75x75")%></div>

              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="https://musicales-tannay.ch">ACCUEIL</a></li>
                <li><a class="dropdown-trigger" href="https://www.musicales-tannay.ch/programme/programme-2019"  tabindex="-1" data-target="programme">PROGRAMME</a></li>
                <li class="active"><a href="/">BILLETTERIE</a></li>
                <li><a href="https://www.musicales-tannay.ch/en-images">EN IMAGES</a></li>
                <li><a class="dropdown-trigger" href="#" data-target="association">L'ASSOCIATION</a></li>
                <li><a href="https://www.musicales-tannay.ch/presse">PRESSE</a></li>
                <li><a href="https://www.musicales-tannay.ch/newsletter">ACTUALITÉS</a></li>
                <li><a href="https://www.musicales-tannay.ch/contact">CONTACT</a></li>
              </ul>
            </div>
          </div>
            <div class="hide-on-large-only">
                <div class="nav-content dropdown-content" id="small-med-menu" style="height:280px;width:100pc">
                  <div class="row fake-nav">
                    <div class="brand-logo left" style="margin-left:19px;margin-top:-25px"><%= image_tag("VariationsMusicalesTannay_FestivalMusiqueClassique_SuisseRomande.png", size: "75x75")%></div>
                    <a class="right-align dropdown-trigger-small-menu right" id="hamburger" style="color:#96a0a7;font-size:40px;padding-top:3px;text-decoration:none" data-target="small-med-menu" >
                    ≡
                    </a>
                  </div>
                  <div class="row right-align">
                    <a href="https://www.musicales-tannay.ch">Accueil</a>
                  </div>
                  <div class="row right-align">
                   <a href="https://www.musicales-tannay.ch/programme/programme-2019">Programme</a>
                  </div>
                  <div class="child-list">
                    <div class="row child right-align">
                      <a href="https://www.musicales-tannay.ch/programme/programme-2019">Programme 2019</a>
                    </div>
                    <div class="row child right-align">
                      <a href="https://www.musicales-tannay.ch/programme/programme-2018">Programme 2018</a>
                    </div>
                    <div class="row child right-align">
                      <a href="https://www.musicales-tannay.ch/programme/programme-2017">Programme 2017</a>
                    </div>
                    <div class="row child right-align">
                    <a href="https://www.musicales-tannay.ch/programme/programme-2016">Programme 2016</a>
                    </div>
                    <div class="row child right-align">
                      <a href="https://www.musicales-tannay.ch/programme/programme-2015">Programme 2015</a>
                    </div>
                    <div class="row child right-align">
                      <a href="https://www.musicales-tannay.ch/programme/programme-2014">Programme 2014</a>
                    </div>
                    <div class="row child right-align">
                      <a href="https://www.musicales-tannay.ch/programme/programme-2013">Programme 2013</a>
                    </div>
                    <div class="row child right-align">
                      <a href="https://www.musicales-tannay.ch/programme/programme-2012">Programme 2012</a>
                    </div>
                    <div class="row child right-align">
                      <a href="https://www.musicales-tannay.ch/programme/programme-2011">Programme 2011</a>
                    </div>
                  </div>
                  <div class="row right-align">
                    <a href="https://www.musicales-tannay.ch/billetterie" style="text-decoration:underline">BILLETTERIE</a>
                  </div>
                  <div class="row right-align">
                    <a href="https://www.musicales-tannay.ch/en-images">EN IMAGES</a>
                  </div>
                  <div class="row right-align">
                    <a href="https://www.musicales-tannay.ch/l-association/partenaires-amis">L'ASSOCIATION</a>
                  </div>
                  <div class="child-list">
                    <div class="row child right-align">
                      <a href="https://www.musicales-tannay.ch/l-association/partenaires-amis">PARTENAIRES & AMIS</a>
                    </div>
                    <div class="row child right-align">
                      <a href="https://www.musicales-tannay.ch/l-association/benevoles">Bénévoles</a>
                    </div>
                    <div class="row child right-align">
                      <a href="https://www.musicales-tannay.ch/l-association/comite-statuts">Comité & Statuts</a>
                    </div>
                  </div>
                  <div class="row right-align">
                    <a href="https://www.musicales-tannay.ch/presse">PRESSE</a>
                  </div>
                  <div class="row right-align">
                    <a href="https://www.musicales-tannay.ch/newsletter">NEWSLETTER</a>
                  </div>
                  <div class="row right-align">
                    <a href="https://www.musicales-tannay.ch/CONTACT">CONTACT</a>
                  </div>
                </div>
              </div>
          </div>
          </nav>
        </div>
<!--               <div class="container">
            <ul class="sidenav sidenav-fixed" id="slide-out">
              <li class="hide-on-med-and-down">
                  <%= image_tag("VariationsMusicalesTannay_FestivalMusiqueClassique_SuisseRomande.png", size: "150x150")%>
              </li>
              <li class="hide-on-large-only" style="padding-left:26px">
                  <%= image_tag("VariationsMusicalesTannay_FestivalMusiqueClassique_SuisseRomande.png", size: "78x78")%>
              </li>
          <%@concerts.each do |concert| %>
            <li>
              <a href=<%=new_concert_reservation_path(concert)%> class="concert waves-effect
              "><b><%=concert.name%><br/><span stlye="font'weight:normal"></b><%=(I18n.localize concert.date, format: :concert).capitalize%></span></a>
            </li>
          <% end %>
          </ul>
          </div> -->
          <div class="buffer" style="display:none"></div>
</header>